html,
body {
    transition: 0.5s;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    left: 0;
    background: #f0f0f0;
    font: 14px/20px Arial, Sans-Serif;
    color: #555;
    margin 0;
    padding: 0;
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
}

#main {
    padding-bottom: 175px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
}

header {
    transition: 0.5s;
    position: absolute;
    background: white;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90
}

#logo {
    transition: 0.5s;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 100px;
    min-width: 155px;
}

#menu-icon {
    margin-top: -20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(img/menu.png) center no-repeat;
}

.current {
    color: white;
}

nav {
    float: right;
    padding: 35px 20px 20px 0;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li a {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    color: white;
}

nav ul,
nav:active ul {
    display: none;
    position: absolute;
    background: #00a250;
    border: 1px solid #FFF;
    right: 20px;
    left: 20px;
    top: 60px;
    border-radius: 2px 0 2px 2px;
}

nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav:hover ul {
    display: block;
}

h1 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
}

h2 {
    text-decoration: underline;
    line-height: 280%;
    padding-left: 2%;
}

h3 {
    line-height: 110%;
    padding: 5% 0;
}

p {
    padding: 1%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content {
    transition: 0.5s;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 70px;
}

.blueberry {
    max-width: 100%;
}

.welcome,
.interact,
aside {
    margin: auto;
    width: 92%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    margin: 0;
    padding: 0;
    color: #00a250;
    text-align: center;
}

.welcome p {
    text-align: left;
}

.interact {
    overflow: hidden;
    text-align: center;
}

.interact section {
    display: inline-block;
    vertical-align: top;
    width: 92%;
    margin-bottom: 20px;
}

.interact section h1 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.interact section p {
    margin: 0;
}

aside {
    width: 100% padding: 0;
}

aside h2 {
    text-align: center;
    text-decoration: none;
    color: #00a250;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

article {
    padding: 0;
    margin: 0;
    width: 100%;
}

footer {
    background: #06a352;
    width: 100%;
    opacity: 0.90;
}

footer h3,
footer p {
    margin: auto;
    padding: 0;
    color: #FFF;
}

footer section {
    padding-top: 20px;
}

footer section p,
footer section h3 {
    width: 163px;
}

footer img {
    display: none;
}

ul.social li {
    display: inline;
}

ul.social li img {
    height: 50px;
}

footer.second {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: : 1px solid #4DE450;
    background-color: #333333;
    max-height: 20px;
    text-align: center;
    opacity: 0.95;
}

footer.second p {
    padding: 0;
    width: 100%;
}

.contact {
    margin: auto;
    padding: 0 5%;
    display: flex;
    flex-flow: wrap;
    width: auto;
    max-width: 1000px;
}

.contact > * {
    padding: 0;
    flex: 1 0 100%;
}

form {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

form p {
    padding: 0;
}

label:first-child {
    display: block;
    width: 100%;
}

input,
textarea {
    display: block;
    width: 100%;
    height: 20px;
}

textarea {
    height: auto;
}

button {
    background-color: #00a250;
    width: 100%;
    height: 70px;
    padding: 0;
    font-size: 16px;
    opacity: 0.90;
    text-align: center;
    border: none;
    color: white;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
/*------------------------MEDIA------------------*/

@media screen and (min-width: 500px) {
    .contact {
        margin: auto;
        padding: 0 10%;
    }
    button {
        width: 50%;
        float: right;
        max-width: 200px;
    }
}

@media screen and (min-width: 768px) {
    header {
        transition: 0.5s;
        background: white;
        width: 100%;
        height: 140px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.90
    }
    #logo {
        transition: 0.5s;
        margin: 20px;
        width: 300px;
    }
    #menu-icon {
        display: none;
    }
    nav ul {
        transition: 0.5s;
        margin-top: 0px;
    }
    nav ul,
    nav:active ul {
        float: left;
        display: inline-block;
        background: none;
        border: none;
        right: none;
        left: auto;
        top: none;
        width 100%;
        border-radius: none;
    }
    nav ul li a {
        color: black;
    }
    nav li {
        text-align: justify;
        width: auto;
        margin: 0;
    }
    .welcome,
    .interact,
    aside {
        width: 75%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .welcome {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .welcome h1 {
        margin: 0;
        padding: 0;
        color: #00a250;
        text-align: center;
    }
    .welcome p {
        text-align: left;
        column-count: 2;
        margin: auto;
    }
    .interact {
        padding-left: 0px;
        padding-right: 0px;
    }
    .interact section {
        width: 29%;
    }
    aside {
        height: auto;
    }
    aside h2 {
        text-align: center;
        text-decoration: none;
        color: #00a250;
        padding: 0;
        margin: 0;
    }
    aside p {
        column-count: 2;
    }
    #content {
        transition: 0.5s;
        margin-top: 140px;
    }
    .current {
        transition: 0.5s;
        background-color: #00a250;
        padding-top: 25px;
        padding-bottom: 52px;
    }
    a.current {
        color: white;
    }
    footer {
        height: 180px;
    }
    footer .impressum {
        margin-left: 20%;
        width: 163px;
        float: left;
    }
    footer.second {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer.second p {
        padding: 0;
    }
    footer img {
        float: right;
        margin-right: 20%;
        height: auto;
        width: 100px;
        display: inline-block;
    }
    footer ul {
        display: none;
    }
    .contact {
        padding: 0 20%;
    }
}

@media screen and (min-width: 1224px) {
    .contact {
        padding: 0 30%;
    }
    button {
        width: 35%;
    }
}